body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E0DED7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.line-one{
  position:fixed;
  width: 15px;
  height: 100vh;
  background:#ff3131;
  left:23%;
}

.line-two{
  position:fixed;
  width: 25px;
  height: 100vh;
  background:#183d79;
  left:25%;
}

nav{
  z-index: 2;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px 0;
}

nav ul{
  flex: 1;
  text-align: right;
  padding-right: 270px;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 30px;
}

nav ul li a{
  color: #000;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
}

nav ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background: #ff3131;
  transition: width 0.4s;

}

nav ul li a:hover::after{
  width:100%;
}

.logo{
  position:fixed;
  left: 120px;
  font-weight: bold;
  text-transform: uppercase;
}

.search{
  position: fixed;
  right: 160px;
}

.menu{
  position:fixed;
  right:100px;
}